body { 
	font-family: sans-serif;
}

a { 
	text-decoration: none; 
}

ul { 
	padding-left: 0;
}

table {
	margin: 10px 0;
}

th {
	text-align: right;
	padding-right: 5px;
}

table[resource] td span[property]:not(:last-of-type):after {
	content: "; ";
}
